/* Commons 
---------------------------*/
.__all-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.debug{
    border:1px solid red;
    min-height:100px
}

.__my-font-size-1{
    font-size: 0.9em;
}

.__my-font-size-2{
    font-size: 0.7em;
}
/*-------------------------- 
/Commons */


/* Colors 
---------------------------*/

/* jumbo */
.__p-color{
 color: rgb(27, 114, 232)
}

.__p-bcolor{
    background: rgb(27, 114, 232);
}

/* bell */
.__bell-color{
    color: rgb(255, 143, 0);
}

/* breadcrumb */
.__my-bc-bg-color{
    background-color: rgb(22, 91, 186);
}

.__my-bc-bg-color:hover{
    background-color: rgb(74, 128, 203);
}

.__code-bg-color{
    background-color: rgb(242, 101, 81);
    width:25px; height:25px;
    min-width:25px; min-height:25px;
}

/*-------------------------- 
/Colors */



/* Navbar 
---------------------------*/

.__mynav{
    height: 70px;
}

.__mynav form input{
    background: rgb(229, 229, 229);
}

.__dropdown-position{
    left:-140px !important; 
}


.__nav-icon i:hover {
    color:rgb(27, 114, 232)
}


/* -------------------------
/Navbar */



/* Sidebar 
-------------------------*/

.__mysidenav{
    height: calc(100% - 70px);
    width: 60px;
    background-color: rgb(5, 30, 52);
    background-image: url(../img/sidebar-bg.png);
    background-size: cover;
}

.__mysidenav a:hover{
    background-color: rgba(255, 255, 255, 0.498);
}

/* -----------------------
/Sidebar */



/* Main 
-------------------------*/

.__main-position{
    width:calc(100% - 60px);
    height:calc(100vh - 70px);
    top:70px; left:60px;
    overflow-y: auto;
}

/* Offcanvas */
.__offcanvas-wrapper{
    justify-content: flex-start;
    height: 100%;
}

.__offcanvas-wrapper .offcanvas{
    width: 100%;
}

/* Table-size */

.__code-bg-color i{
    transform: translateX(2px);
}

.__col-size-primary{
    max-width: 33,3%;
}

.__col-size-secondary{
    max-width: 33,3%;
}

/* -----------------------
/Main */



/* Media 
-------------------------*/
@media screen and (min-width:576px){
    
    /* Offcanvars */
    .__offcanvas-wrapper{
        justify-content: flex-end;
    }

    /* Table-size */
    .__col-size-primary{
        max-width: 39%;
    }

    .__col-size-secondary{
        max-width: 15%;
    }
}

@media screen and (min-width:768px){

    .__mysidenav{
        width: 150px;
    }

    .__main-position{
        width:calc(100% - 150px);
        left:150px;
    }

    .__offcanvas-wrapper .offcanvas{
        width: 75%;
    }

    /* Table-size */
    .__col-size-primary{
        max-width: 60%;
    }

    .__col-size-secondary{
        max-width: 10%;
    }

} 

