.__all-container{
    width: 100vw;
    height:100vh;
    background: #00000029;
}


/* Commons 
---------------------------*/


/*-------------------------- 
Commons */


/* Colors 
---------------------------*/
/* jumbo */
.__p-color{
 color: rgb(27, 114, 232)
}

.__p-bcolor{
    background: rgb(27, 114, 232);
}


/*-------------------------- 
Colors */



/* Navbar 
---------------------------*/

.__mynav{
    height: 70px;
}

.__mynav form input{
    background: rgb(229, 229, 229);
}

/* -------------------------
Navbar */
